html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loader,
.noDataFound {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
}

.postsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.postListItem {
  margin-bottom: 20px;
  box-shadow: 0 1px 3px #ccc;
  padding: 20px;
  border-radius: 4px;
}

.moreButton {
  font-size: 18px;
  padding: 10px 30px;
  border: 1px solid  #138de2;
  border-radius: 4px;
  background-color: #138de2;
  color: #fff;
  cursor: pointer;
  transition: background-color linear .2s;
}

.moreButton:hover {
  background-color: #107cc7;
}

.moreButton:focus {
  outline: none;
}

.searchWrapper {
  margin-bottom: 20px;
}

.searchWrapper input {
  padding: 10px 20px;
  width: 300px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchWrapper input::placeholder {
  font-size: 15px;
}

.searchWrapper input:focus {
  outline: none;
  border: 1px solid #3796d8;
}

article div {
  font-weight: 300;
}

article div:first-letter {
  text-transform: uppercase;
}

article h4 {
  margin: 0 0 10px 0;
  line-height: 1.5;
}
